.mod_minical_inner {
    display:inline-block;
    vertical-align:top;
    border:3px solid #3f7aa6;
    border-radius:6px;    
}
.mod_minical_inner.full-width {width:calc(100% - 6px)}
.mod_minical_table {
    margin:0;
    border-collapse:collapse;
    border:2px solid #3f7aa6;
    color:#4a4a4a;
    background-color:#dce8f1;
    text-align:center;
    line-height:1.4;
    width:auto;
    font-family:Arial,sans-serif;
    font-size:1rem;
}
.mod_minical_table.full-width {width:100%}
.mod_minical_table th {
    border:1px solid #ccc;
    color:white;
    font-weight:normal;
    padding:3px 0;
    min-width:25px;
    background-color:#3f7aa6;
    background-image:none;
    text-align:center;
}

.mod_minical_table tr td {pointer-events:none}  /* fix for Beez */        

.mod_minical_table tr.mod_minical_day th {background-color:white;color:#4a4a4a}

.mod_minical_table tr.mod_minical_month th {border-left:none; border-right:none;}

.mod_minical_table td {border:1px solid #ccc;padding:3px 0;text-align:center;background-color:#eaebf3}

.mod_minical_table td.mod_minical_today {color:white;background-color:#456075}

.mod_minical_table td.mod_minical_nonday {background-color:#fafaff}

.mod_minical_weekno {color:red}

.mod_minical_table th.mod_minical_left {cursor:pointer}
span.mod_minical_left {display:inline-block;height:0;width:0;vertical-align:middle;margin-right:6px;border:9px solid transparent;border-right-color:whitesmoke}
span.mod_minical_left:hover {border-right-color:orange}

.mod_minical_table th.mod_minical_right {cursor:pointer}
span.mod_minical_right {display:inline-block;height:0;width:0;vertical-align:middle;margin-left:6px;border:9px solid transparent;border-left-color:whitesmoke}
span.mod_minical_right:hover {border-left-color:orange}
