.mod_minical_inner {
    display:inline-block;
    vertical-align:top;
    border:1px solid #c16362;
    border-radius:6px;    
}
.mod_minical_inner.full-width {width:calc(100% - 6px)}
.mod_minical_table {
    margin:0;
    border-collapse:collapse;
    border:2px solid #c16362;
    color:#fff0f0;
    background-color:#fff5f4;
    text-align:center;
    line-height:1.4;
    width:auto;
    font-family:Arial,sans-serif;
    font-size:1rem;
}
.mod_minical_table.full-width {width:100%}
.mod_minical_table th {
    border:1px solid #ccc;
    color:#fff0f0;
    font-weight:normal;
    padding:3px 0;
    min-width:25px;
    background-color:#c16362;
    background-image:none;
    text-align:center;
}
.mod_minical_table tr td {pointer-events:none}  /* fix for Beez */        

.mod_minical_table tr.mod_minical_day th {
    background-color:white;
    color:#4a4a4a;
}

.mod_minical_table tr.mod_minical_month th {border-left:none; border-right:none;}

.mod_minical_table td {border:1px solid #ccc;padding:3px 0;text-align:center;color:#37474f}

.mod_minical_table td.mod_minical_today {background-color:#c16362;color:white}

.mod_minical_weekno {color:black;}

.mod_minical_table th.mod_minical_left {cursor:pointer}
span.mod_minical_left {display:inline-block;height:0;width:0;vertical-align:middle;margin-right:6px;border:9px solid transparent;border-right-color:whitesmoke}
span.mod_minical_left:hover {border-right-color:#efcccc}

.mod_minical_table th.mod_minical_right {cursor:pointer}
span.mod_minical_right {display:inline-block;height:0;width:0;vertical-align:middle;margin-left:6px;border:9px solid transparent;border-left-color:whitesmoke}
span.mod_minical_right:hover {border-left-color:#efcccc}
